.for_Circle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.after_header {
    width: 1920px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
}

.who_name {
    width: 386px;
    height: 58px;
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 60px;
    margin-left: 150px;
}

.who_text {
    width: 752px;
    height: 455px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 50px;

}


.who_top_boxs {
    margin-top: 108px;
    margin-left: 100px;
}

.who_box1 {
    width: 358px;
    height: 236px;
    border-radius: 40px;
    border: 1px solid #909398;
}

.who_box1_number {
    width: 73px;
    height: 58px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina";
    font-size: 60px;
    margin-left: 50px;
    margin-top: 50px;
}

.who_box1_text {
    width: 176px;
    height: 36px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 23px;
    margin-left: 50px;
    margin-top: 42px;
}

.who_box2 {
    width: 358px;
    height: 236px;
    border-radius: 40px;
    border: 1px solid #909398;
}

.who_box2_number {
    width: 73px;
    height: 58px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina";
    font-size: 60px;
    margin-left: 50px;
    margin-top: 50px;
}

.who_box2_text {
    width: 176px;
    height: 36px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 21px;
    margin-left: 50px;
    margin-top: 42px;
}

.who_bottom_boxs {
    margin-top: 108px;
}

.who_box3 {
    width: 358px;
    height: 236px;
    border-radius: 40px;
    border: 1px solid #909398;
}

.who_box3_number {
    width: 73px;
    height: 58px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina";
    font-size: 60px;
    margin-left: 50px;
    margin-top: 50px;
}

.who_box3_text {
    width: 176px;
    height: 36px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 42px;
}

.who_box4 {
    width: 358px;
    height: 236px;
    border-radius: 40px;
    border: 1px solid #909398;
}

.who_box4_number {
    width: 173px;
    height: 58px;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina";
    font-size: 60px;
    margin-left: 50px;
    margin-top: 50px;
}

.who_box4_text {
    width: 258px;
    height: 72px;
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 23px;
    margin-left: 50px;
    margin-top: 20px;
}

.line_Circle {
    position: relative;
    width: 100%;
    margin-bottom: 400px;
    box-sizing: border-box;
    height: 180px;
}

.circle {
    position: relative;

}

.dark1 {
    margin-left: 150px;
    left: 0px;
}

.grey1 {
    margin-left: 150px;
    left: 130px;
    top: -186px;
}

.blue1 {
    margin-left: 150px;
    left: 260px;
    top: -372px;
}

.dark2 {
    margin-left: 150px;
    left: 390px;
    top: -558px;
}

.grey2 {
    margin-left: 150px;
    left: 520px;
    top: -744px;
}

.blue2 {
    margin-left: 150px;
    left: 640px;
    top: -930px;
}

.dark3 {
    margin-left: 150px;
    left: 760px;
    top: -1116px;
}

.grey3 {
    margin-left: 150px;
    left: 900px;
    top: -1302px;
}

.blue3 {
    margin-left: 150px;
    left: 1030px;
    top: -1488px;
}

.dark4 {
    margin-left: 150px;
    left: 1150px;
    top: -1674px;
}

.grey4 {
    margin-left: 150px;
    left: 1260px;
    top: -1860px;
}

.pink {
    margin-left: 150px;
    left: 1390px;
    fill: var(--main-light, #9695E7);
    stroke-width: 2px;
    stroke: var(--main-white, #FFF);
    top: -2046px;
}

.container {
    width: 1920px;
    height: 971px;
    margin-top: 250px;
}

.logo {
    font-family: 'Neue Machina';
    width: 436px;
    height: 58px;
    font-size: 60px;
    padding: 60px;
    color: #2F353F;
    margin: 0px 0px 20px 30px;
}

#flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box- {
    font-family: 'Neue Machina';
    border: 1px;
    width: 541px;
    height: 220px;
    padding: 30px;
    font-size: 26px;
    color: #2F353F;
}

.box {
    font-family: 'Neue Machina';
    border: 1px solid #909398;
    width: 541px;
    height: 220px;
    padding: 30px;
    font-size: 26px;
    border-radius: 40px;
    color: #2F353F;
}

.text_box {
    font-family: 'Gilroy';
    font-size: 24px;
    color: #2F353FB2;
}

.purple {
    font-family: 'Neue Machina';
    border: 1px solid #909398;
    width: 541px;
    height: 220px;
    padding: 30px;
    font-size: 26px;
    border-radius: 40px;
    color: #2F353F;
}

.box:hover {
    background: #7876F2;
    color: #ffff;
    transition: 0.5s;
    transform: scaleX(1.1);
    transform: scaleY(1.3);
    top: 50px;
    left: 80px;
}

.box-box {
    margin: 50px 40px 40px 50px;
}

.cicle {
    font-family: 'Neue Machina';
    width: 280px;
    height: 280px;
    background-color: #ffff;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    margin: 80px 0px 0px 80px;
}