.industriesbox {
    /* width: 1920px; */
    height: 618px;
    margin-left: 150px;
    display: flex;
    align-items: center
}

.nameindus {
    height: 53px;
    width: 313px;
    margin-left: 150px;
    font-size: 50px;
    font-family: 'Neue Machina';
    font-weight: 100;
}

.logistics {
    width: 506px;
    height: 460px;
    margin-right: 51px;
}

.logistics_foto {
    margin-bottom: 40px;
}

.logistics_name {
    font-family: 'Neue Machina';
    font-weight: 100;
}

.logistics_hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logistics_text {
    width: 506px;
    height: 180px;
    font-size: 24px;
    font-family: 'Gilroy';
    color: rgba(47, 53, 63, 0.70);
}

.E-commerce {
    width: 506px;
    height: 460px;
    margin-right: 51px;
}

.E-commerce_foto {
    margin-bottom: 40px;
}

.E-commerce_name {
    font-family: 'Neue Machina';
    font-weight: 100;
}

.E-commerce_hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.E-commerce_text {
    width: 506px;
    height: 180px;
    font-size: 24px;
    font-family: 'Gilroy';
    color: rgba(47, 53, 63, 0.70);
}

.crm_systems {
    width: 506px;
    height: 460px;
}

.crm_systems_foto {
    margin-bottom: 40px;
}

.crm_systems_name {
    font-family: 'Neue Machina';
    font-weight: 100;
}

.crm_systems_hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.crm_systems_text {
    width: 506px;
    height: 180px;
    font-size: 24px;
    font-family: 'Gilroy';
    color: rgba(47, 53, 63, 0.70);
}

.industries-full {
    margin-top: 250px;
}

@media (max-width: 1080px) {
    .industries-full { display: none;
    }
}